body {
  background-color: #5cdb95;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #edf5e1;
  margin-top: 60px;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #05386b;
  color: white;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 25px;
}

.box {
  margin: 10px;
  padding: 40px;
  border: 1px solid #8ee4af;
  text-align: center;
}

button {
  padding: 7px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: honeydew;
  color: #05386b;
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 200;
}

.button2:hover {
  background-color: darkslateblue;
  color: white;
}

.button1:hover {
  background-color: crimson;
  color: white;
}

input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 0.25rem;
}
